page-register {
  .item-inner{
    border: none !important;
    box-shadow: none !important;
  }

  ion-item{
    color: white !important;
    background: rgba(80, 43, 87, 0.56) !important;
    border: none;
    border-radius: 5px;
    margin: 5px 0 !important;
  }

  input{
    margin: 0;
    height: 30px;
  }
}
