<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <div text-center>
    <img src="assets/imgs/logo.png" alt="">
  </div>
  <div class="contenu">
    <ion-title text-center  class="bienvenue">{{"register_pag.title" | translate}}</ion-title>
    <form  text-center padding   [formGroup]="register_form" (ngSubmit)="register()">

      <ion-item>
        <ion-label   color="primary" floating translate>
          register_pag.name
        </ion-label>
        <ion-input clearInput  formControlName="name"></ion-input>
      </ion-item>
      <div *ngIf="register_form.controls.name.errors && (register_form.controls.name.dirty || register_form.controls.name.touched)">
        <p ion-text
           *ngIf="register_form.controls.name.errors.required"
           color="danger"
           text-left
           translate
        >
          register_pag.name_required
        </p>
      </div>


      <ion-item>
        <ion-label   color="primary" floating translate>
          register_pag.tel
        </ion-label>
        <ion-input clearInput  formControlName="tel"></ion-input>
      </ion-item>
      <div *ngIf="register_form.controls.tel.errors && (register_form.controls.tel.dirty || register_form.controls.tel.touched)">
        <p ion-text
           *ngIf="register_form.controls.tel.errors.required"
           color="danger"
           text-left
           translate
        >
          register_pag.tel_required
        </p>
        <p ion-text
           *ngIf="register_form.controls.tel.errors.minlength"
           color="danger"
           text-left
           translate
           translate-value="{
             val : (register_form.controls.tel.errors.minlength.requiredLength - register_form.controls.tel.errors.minlength.actualLength)
           }"
        >
          register_pag.tel_length
        </p>
      </div>

      <ion-item>
        <ion-label   color="primary" floating translate>
          register_pag.email
        </ion-label>
        <ion-input type="email" clearInput  formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="register_form.controls.email.errors && (register_form.controls.email.dirty || register_form.controls.email.touched)">
        <p ion-text
           *ngIf="register_form.controls.email.errors.required"
           color="danger"
           text-left
           translate
        >
          register_pag.email_required
        </p>
        <p ion-text
           *ngIf="register_form.controls.email.errors.email"
           color="danger"
           text-left
           translate
        >
          register_pag.email_invalid
        </p>

      </div>


      <ion-item>
        <ion-label   color="primary" floating translate>
          register_pag.town
        </ion-label>
        <ion-input clearInput  formControlName="town"></ion-input>
      </ion-item>
      <div *ngIf="register_form.controls.town.errors && (register_form.controls.town.dirty || register_form.controls.town.touched)">
        <p ion-text
           *ngIf="register_form.controls.town.errors.required"
           color="danger"
           text-left
           translate
        >
          register_pag.town_required
        </p>
      </div>


      <ion-item>
        <ion-label   color="primary" floating translate>
          register_pag.password
        </ion-label>
        <ion-input type="password" clearInput  formControlName="mot_de_pass"></ion-input>
      </ion-item>
      <div *ngIf="register_form.controls.mot_de_pass.errors && (register_form.controls.mot_de_pass.dirty || register_form.controls.mot_de_pass.touched)">
        <p ion-text
           *ngIf="register_form.controls.mot_de_pass.errors.required"
           color="danger"
           text-left
           translate
        >
          register_pag.password_required
        </p>
        <p ion-text
           *ngIf="register_form.controls.mot_de_pass.errors.minlength"
           color="danger"
           text-left
           translate
           translate-values="{
            val: (register_form.controls.mot_de_pass.errors.minlength.requiredLength - register_form.controls.mot_de_pass.errors.minlength.actualLength )
           }"
        >
          register_pag.password_min
        </p>
      </div>

      <ion-item>
        <ion-label   color="primary" floating translate>
          register_pag.confirm_password
        </ion-label>
        <ion-input type="password" clearInput  formControlName="mot_de_pass_confirm"></ion-input>
      </ion-item>
      <div *ngIf="register_form.controls.mot_de_pass_confirm.errors &&
                (register_form.controls.mot_de_pass_confirm.dirty
                || register_form.controls.mot_de_pass_confirm.touched
                || register_form.controls.mot_de_pass.touched
                )">
        <p ion-text
           *ngIf="register_form.controls.mot_de_pass_confirm.errors.MatchPassword"
           color="danger"
           text-left
           translate
        >
          register_pag.confirmed_error
        </p>

      </div>

      <button ion-button block [disabled]="!register_form.valid" translate>{{"register_pag.create" | translate}}</button>
    </form>

    <div class="singup" text-center (click)="login()" translate>register_pag.login</div>
  </div>
</ion-content>
