<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"profile_pag.title"|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form  text-center    [formGroup]="profile_form" (ngSubmit)="update()">
    <ion-item>
      <ion-label   color="primary" floating translate>
        register_pag.name
      </ion-label>
      <ion-input clearInput  formControlName="nom_prenom"></ion-input>
    </ion-item>
    <div *ngIf="profile_form.controls.nom_prenom.errors && (profile_form.controls.nom_prenom.dirty || profile_form.controls.nom_prenom.touched)">
      <p ion-text
         *ngIf="profile_form.controls.nom_prenom.errors.required"
         color="danger"
         text-left
         translate
      >
        register_pag.name_required
      </p>
    </div>

    <ion-item>
      <ion-label   color="primary" floating translate>
        register_pag.tel
      </ion-label>
      <ion-input clearInput  formControlName="num_tel"></ion-input>
    </ion-item>
    <div *ngIf="profile_form.controls.num_tel.errors && (profile_form.controls.num_tel.dirty || profile_form.controls.num_tel.touched)">
      <p ion-text
         *ngIf="profile_form.controls.num_tel.errors.required"
         color="danger"
         text-left
         translate
      >
        register_pag.tel_required
      </p>
      <p ion-text
         *ngIf="profile_form.controls.num_tel.errors.minlength"
         color="danger"
         text-left
         translate
         translate-value="{
             val : (register_form.controls.tel.errors.minlength.requiredLength - register_form.controls.tel.errors.minlength.actualLength)
           }"
      >
        register_pag.tel_length
      </p>

    </div>

    <ion-item>
      <ion-label   color="primary" floating translate>
        register_pag.email
      </ion-label>
      <ion-input type="email" clearInput  formControlName="email"></ion-input>
    </ion-item>
    <div *ngIf="profile_form.controls.email.errors && (profile_form.controls.email.dirty || profile_form.controls.email.touched)">
      <p ion-text
         *ngIf="profile_form.controls.email.errors.required"
         color="danger"
         text-left
         translate
      >
        register_pag.email_required
      </p>
      <p ion-text
         *ngIf="profile_form.controls.email.errors.email"
         color="danger"
         text-left
         translate
      >
        register_pag.email_invalid
      </p>

    </div>


    <ion-item>
      <ion-label   color="primary" floating translate>
        register_pag.town
      </ion-label>
      <ion-input clearInput  formControlName="ville"></ion-input>
    </ion-item>
    <div *ngIf="profile_form.controls.ville.errors && (profile_form.controls.ville.dirty || profile_form.controls.ville.touched)">
      <p ion-text
         *ngIf="profile_form.controls.ville.errors.required"
         color="danger"
         text-left
         translate
      >
        register_pag.town_required
      </p>
    </div>


    <ion-item>
      <ion-label   color="primary" floating translate>
        register_pag.password
      </ion-label>
      <ion-input type="password" clearInput  formControlName="mot_de_pass"></ion-input>
    </ion-item>
    <div *ngIf="profile_form.controls.mot_de_pass.errors && (profile_form.controls.mot_de_pass.dirty || profile_form.controls.mot_de_pass.touched)">
      <p ion-text
         *ngIf="profile_form.controls.mot_de_pass.errors.required"
         color="danger"
         text-left
         translate
      >
        register_pag.password_required
      </p>
      <p ion-text
         *ngIf="profile_form.controls.mot_de_pass.errors.minlength"
         color="danger"
         text-left
         translate
         translate-values="{
            val: (register_form.controls.mot_de_pass.errors.minlength.requiredLength - register_form.controls.mot_de_pass.errors.minlength.actualLength )
           }"
      >
        register_pag.password_min
      </p>

    </div>


    <ion-item>
      <ion-label   color="primary" floating translate>
        register_pag.confirm_password
      </ion-label>
      <ion-input type="password" clearInput  formControlName="mot_de_pass_confirm"></ion-input>
    </ion-item>
    <div *ngIf="profile_form.controls.mot_de_pass_confirm.errors &&
                (profile_form.controls.mot_de_pass_confirm.dirty
                || profile_form.controls.mot_de_pass_confirm.touched
                || profile_form.controls.mot_de_pass.touched
                )">
      <p ion-text
         *ngIf="profile_form.controls.mot_de_pass_confirm.errors.MatchPassword"
         color="danger"
         text-left
         translate
      >
        register_pag.confirmed_error
      </p>

    </div>

    <button ion-button block [disabled]="!profile_form.valid">{{"profile_pag.edit" | translate}}</button>
  </form>

</ion-content>
