<!--
  Generated template for the PasswordResetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div text-right ion-text color="danger" class="close">
    <ion-icon name="close" (click)="reset()" isActive="true"></ion-icon>
  </div>
  <ion-title text-center  class="bienvenue">Mot de pass oublie !</ion-title>
</ion-content>

<ion-footer>
  <form *ngIf="!next"  text-center padding   [formGroup]="request_form" (ngSubmit)="request()">
    <input type="text" placeholder="Email ou Telephone"  formControlName="login">
    <button ion-button block [disabled]="!request_form.valid">Reinitialiser</button>
  </form>
  <form *ngIf="next" text-center padding   [formGroup]="reset_form" (ngSubmit)="reset()">
    <input type="text" placeholder="Entrez le code"  formControlName="code">
    <button ion-button block [disabled]="!reset_form.valid">Envoyez</button>
  </form>
</ion-footer>
