<!--
  Generated template for the PasswordResetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <div text-right ion-text color="danger" class="close">
    <ion-icon name="close" (click)="login()" isActive="true"></ion-icon>

  </div>
  <ion-title text-center  class="bienvenue">{{"password_reset_pag.title"|translate}}</ion-title>
</ion-content>

<ion-footer>
  <form *ngIf="!next"  text-center padding   [formGroup]="request_form" (ngSubmit)="request()">
    <ion-item>
      <ion-label   color="primary" floating translate>
        password_reset_pag.login
      </ion-label>
      <ion-input clearInput  formControlName="login"></ion-input>
    </ion-item>
    <div *ngIf="request_form.controls.login.errors && (request_form.controls.login.dirty || request_form.controls.login.touched)">
      <p ion-text
         *ngIf="request_form.controls.login.errors.required"
         color="danger"
         text-left
         translate
      >
        password_reset_pag.login_required
      </p>

    </div>

    <button ion-button block [disabled]="!request_form.valid">{{"password_reset_pag.reset_lab"|translate}}</button>
  </form>
  <form *ngIf="next" text-center padding   [formGroup]="reset_form" (ngSubmit)="reset()">
    <ion-item>
      <ion-label   color="primary" floating translate>
        password_reset_pag.code
      </ion-label>
      <ion-input clearInput  formControlName="code"></ion-input>
    </ion-item>
    <div *ngIf="reset_form.controls.code.errors && (reset_form.controls.code.dirty || reset_form.controls.code.touched)">
      <p ion-text
         *ngIf="reset_form.controls.code.errors.required"
         color="danger"
         text-left
         translate
      >
        password_reset_pag.code_required
      </p>

    </div>

    <button ion-button block [disabled]="!reset_form.valid">{{"password_reset_pag.send"|translate}}</button>
  </form>
</ion-footer>
