<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!iscreation">Editer le client</ion-title>
    <ion-title *ngIf="iscreation">Creer un client</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form  text-center    [formGroup]="carte_form" (ngSubmit)="update()">
    <ion-item>
      <ion-label   color="primary" floating>
        No Carte
      </ion-label>
      <ion-input clearInput  formControlName="num_carte"></ion-input>
    </ion-item>
    <div *ngIf="carte_form.controls.num_carte.errors && (carte_form.controls.num_carte.dirty || carte_form.controls.num_carte.touched)">
      <p ion-text
         *ngIf="carte_form.controls.num_carte.errors.required"
         color="danger"
         text-left
      >
        le numero de carte est requit
      </p>
    </div>

    <ion-item>
      <ion-label   color="primary" floating>
        Adresse
      </ion-label>
      <ion-input clearInput  formControlName="adresse"></ion-input>
    </ion-item>
    <div *ngIf="carte_form.controls.adresse.errors && (carte_form.controls.adresse.dirty || carte_form.controls.adresse.touched)">
      <p ion-text
         *ngIf="carte_form.controls.adresse.errors.required"
         color="danger"
         text-left
      >
        l adresse du client est requise
      </p>


    </div>

    <ion-item>
      <ion-label   color="primary" floating>
        Telephone
      </ion-label>
      <ion-input type="text" clearInput  formControlName="telephone"></ion-input>
    </ion-item>
    <div *ngIf="carte_form.controls.telephone.errors && (carte_form.controls.telephone.dirty || carte_form.controls.telephone.touched)">
      <p ion-text
         *ngIf="carte_form.controls.telephone.errors.required"
         color="danger"
         text-left
      >
        le numero de telephone est requise
      </p>
      <p ion-text
         *ngIf="carte_form.controls.telephone.errors.minlength"
         color="danger"
         text-left
      >
        longueur min 9 , manque : {{ carte_form.controls.telephone.errors.minlength.requiredLength - carte_form.controls.telephone.errors.minlength.actualLength }}
      </p>

    </div>


    <ion-item>
      <ion-label   color="primary" floating>
        Ville
      </ion-label>
      <ion-input clearInput  formControlName="ville"></ion-input>
    </ion-item>
    <div *ngIf="carte_form.controls.ville.errors && (carte_form.controls.ville.dirty || carte_form.controls.ville.touched)">
      <p ion-text
         *ngIf="carte_form.controls.ville.errors.required"
         color="danger"
         text-left
      >
        la ville est requise
      </p>
    </div>
    <ion-item>
          <ion-label   color="primary" floating>
            Quartier
          </ion-label>
          <ion-input clearInput  formControlName="quartier"></ion-input>
    </ion-item>
    <div *ngIf="carte_form.controls.quartier.errors && (carte_form.controls.quartier.dirty || carte_form.controls.quartier.touched)">
      <p ion-text
         *ngIf="carte_form.controls.quartier.errors.required"
         color="danger"
         text-left
      >
        la ville est requise
      </p>
    </div>



    <button ion-button block  *ngIf="iscreation"  [disabled]="!carte_form.valid">
       {{iscreation ? "Creer" : "Modifier"}}
    </button>
  </form>

</ion-content>
