page-solde {

  .amount {
    border: 8px solid gray;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: auto;
  }

  .zone{
    margin-top: 50px;
  }

  ion-footer{
    background: #4a2752;
    color: white;
    text-align: center;
  }

  .active{
    background: white;
    color: #4a2752;
  }


  .commission{
    border: 5px solid gray;
    border-left: none;
    border-right: none;
    margin: 20px 0;
    color: white;
    font-size: 16px;
  }

  .service{
    background: #4a2752;
    color: white;
    padding: 10px;
    font-weight: bold;

  }

  .plogo{
    height:35px;
    width:45px;
  }
}
