page-solde {

  .amount {
    border: 8px solid gray;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: auto;
  }

  .zone{
    margin-top: 50px;
  }
}
