<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"balance_pag.title" |translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div text-center class="zone"  *ngIf="selectedIndex==0">
      <h2 ion-text color="primary">{{"balance_pag.header" | translate}}</h2>
      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8 text-center>
          <div class="amount">
            <br>
            <br>
            <p >
              {{discount.solde}}
            </p>
            <p translate>
              balance_pag.currency
            </p>
          </div>
        </ion-col>
        <ion-col col-2></ion-col>
      </ion-row>
      <ion-row align-items-start=""></ion-row>
      <ion-row *ngIf="discount.has_commission=='OUI'" class="commission">
        <ion-col text-start>Vos commissions</ion-col>
        <ion-col text-end>{{discount.commission}} <span translate>balance_pag.currency</span></ion-col>
      </ion-row>


    </div>
  <div  *ngIf="selectedIndex==1">
    <div *ngFor="let p of payment_methods" (click)="proceed($event,p.name)" >
      <ion-card  class="service"  >
        <ion-row>
          <ion-col col-9 ><div class="card-title" translate>{{'balance_pag.'+p.name}}</div></ion-col>
          <ion-col col-3><img class="plogo" [src]="'assets/imgs/payment/'+p.logo" alt=""></ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>

  <!--<p>{{discount}}</p>-->

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col col-6 [ngClass]="{'active': selectedIndex==0}" (click)="goTo(0)">
      <ion-icon name="card"></ion-icon>
      <br>
      Solde
    </ion-col>
    <ion-col col-6 [ngClass]="{'active': selectedIndex==1}" (click)="goTo(1)">
      <ion-icon name="cash"></ion-icon>
      <br>
      Recharge
    </ion-col>

  </ion-row>
</ion-footer>
