<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >{{'history_pag.title' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
  <ion-content padding style="width: 100%;height: 100%;">
    <div style="width: 100%;height: auto;">
      <ion-list *ngFor="let h of historisques">
        <ion-item-sliding>
          <ion-item>
            <h2 text-capitalize [translate]="'history_pag.client'" [translateParams]="{user: h.utilisateur}"></h2>
            <hr>
            <div *ngIf="h.show_details">
              <span translate [translateParams]="{amount: h.montant}">history_pag.amount</span>
              <hr>
              <span translate [translateParams]="{balance: h.solde_restant}">history_pag.balance</span>
              <hr>
              <span translate [translateParams]="{type: h.type_operation}">history_pag.type</span>
              <hr>
              <span translate [translateParams]="{date: h.date_operation}">history_pag.date</span>
              <hr>
            </div>
            <span translate>history_pag.description</span>
            <hr>
            <p  [ngClass]="{'detail': h.show_details}" [innerHTML]="h.description"></p>
          </ion-item>
          <ion-item-options side="left">
            <button ion-button color="primary" (click)="show(h)">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <ion-infinite-scroll  (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="canload" >
        <ion-infinite-scroll-content loadingSpinner="bubbles" [loadingText]="lmsg"></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>

      <ion-item *ngIf="!canload" [translate]="'history_pag.no_more'">

      </ion-item>

  </ion-content>

